<a href="https://colab.research.google.com/github/AnkitPal09/Ankit_Edyoda/blob/main/Ankit_Edyoda_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1

In [16]:
net_amt= 0
while 1:
    log_msg= input()
    if log_msg=="":
        break
    else:
        transactions= log_msg.split(" ")
        for i in transactions:
            t= i.split(":")
            type= t[0]
            amt= int(t[1])
            if type== "D" :
                net_amt+= amt
            elif type=="W":
                net_amt-= amt
            else:
                pass
print(net_amt)

D:100 W:10

90

#2

In [2]:
def monthly_bill():
    num= int(input("Enter the number of calls"))

    bill= 200
    if (num>100 and num<=150):
        bill= 200+((num-100)*0.60)
    elif (num>150 and num<=200):
        bill= 200 + 0.6*50 + ((num-150)*0.5)
    else:
        bill=200 + 0.6*50 + 0.5*50 + ((num-200)*0.4)
    print(bill)
monthly_bill()

Enter the number of calls500
375.0

#3

In [5]:
from functools import reduce

In [6]:
my_list = [4,6,7,8]
sum_result = reduce(lambda x, y: x + y, my_list)

print("Sum of the items in the list:", sum_result)

Sum of the items in the list: 25

#4

In [7]:
def reverse_string(str):
    return ''.join(reversed(str))

str = input("Enter the string")
rev_str = reverse_string(str)

print("Original String:", str)
print("Reversed String:", rev_str)

Enter the stringHello World
Original String: Hello World
Reversed String: dlroW olleH

In [8]:
str= input("Enter the string")
rev_str= ''.join(reversed(str))
print("Original String:", str)
print("Reversed String:", rev_str)

Enter the stringHow are you?
Original String: How are you?
Reversed String: ?uoy era woH

#5

In [9]:
def count_upper_lower():
    input_text= input("Enter the text")
    upper_count = 0
    lower_count = 0

    for char in input_text:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count
count_upper_lower()

Enter the textAbcdEFghi

(3, 6)

#Challenge 1

In [10]:
class Point:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

    def sqsum(self):
        return(pow(self.x,2)+pow(self.y,2)+pow(self.z,2))

a1= Point(1,3,5)
print(a1.sqsum())

35

#Challenge 2

In [11]:
class Calculator:

    def __init__(self,num1, num2):
        self.num1= num1
        self.num2= num2

    def add(self):
        return(self.num1+self.num2)

    def subtract(self):
        return(self.num1-self.num2)

    def multiply(self):
        return(self.num1*self.num2)

    def divide(self):
        return(self.num1/self.num2)

a1= Calculator(7,5)
print(a1.add())
print(a1.subtract())
print(a1.multiply())
print(a1.divide())

12
2
35
1.4

#Challenge 3

In [12]:
class Student:

    def __init__(self,name, rollNumber):
        self.name= name
        self.rn= rollNumber

    def get_name(self):
        return self.name

    def set_name(self,val):
        self.name= val

    def get_rn(self):
        return self.rn

    def set_rn(self,val):
        self.rn= val

a1 = Student('Ram', 25)


print(a1.get_name())
print(a1.get_rn())

a1.set_name('Laxman')
a1.set_rn(18)

print(a1.get_name())
print(a1.get_rn())

Ram
25
Laxman
18

#Challenge 4

In [14]:
class Account:
    def __init__(self, title=None, balance=0):
        self.title = title
        self.Balance = balance



class SavingsAccount(Account):
    def __init__(self, title, balance, interestRate=0):
        super().__init__(title, balance)
        self.interestRate = interestRate

account= Account("Ashish", 5000)
print("Title:", account.title)
print("Balance:",account.Balance)

savings_account = SavingsAccount("Ashish", 5000, 5)
print("Title:", savings_account.title)
print("Balance:", savings_account.Balance)
print("Interest Rate:", savings_account.interestRate)

Title: Ashish
Balance: 5000
Title: Ashish
Balance: 5000
Interest Rate: 5

#Challenge 5

In [15]:
class Account:
    def __init__(self, title=None, balance=0):
        self.title = title
        self.balance = balance

    def withdrawal(self, amount):
        self.balance-= amount
        pass

    def deposit(self, amount):
        self.balance+= amount
        pass
    def getBalance(self):
        return self.balance
        pass

class SavingsAccount(Account):
    def __init__(self, title=None, balance=0, interestRate=0):
            super().__init__(title, balance)
            self.interestRate = interestRate

    def interestAmount(self):
        interest_amount = self.balance * (self.interest_rate / 100)
        pass

#code to test - do not edit this

demo1 = SavingsAccount("Ashish", 2000, 5)   # initializing a SavingsAccount object